@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .nav-link {
    @apply relative after:h-0.5 after:absolute after:left-0 after:-bottom-0.5 after:rounded-full after:bg-transparent after:hover:bg-[#ff1b54] after:transition-all after:w-full after:duration-300;
  }
  .defaultBtn {
    @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded-md;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap");
.fontTitle {
  font-family: "Playwrite AU SA", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap");
.fontSpecial {
  font-family: "Playwrite IS", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* set category bg image  */
.categoryBG {
  background-image: url("./assets/categoryBG.jpg");
  background-size: cover;
  background-position: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSec {
  background-image: url("./assets/herosec.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
